USE [ILDB]
GO
/****** Object:  StoredProcedure [pct].[ExportMaster]    Script Date: 09/10/2026 15:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--===============================================================================================================
-- Filename:	usp_editorial_export_master
-- Author:		Paul Davis / Chris Bartlett
-- Create date: 03/11/2025
-- Description:	Procedure to start PROCAT export process calling stored procedure
--				usp_editorial_find_ready_editset
--===============================================================================================================


ALTER PROCEDURE [pct].[ExportMaster]
AS
BEGIN
    -- Temporary table to store the results from sp_edit_find_ready_editsets
    DECLARE @EditSets TABLE (
        edit_set_id INT,
		edit_set_type INT,
        name NVARCHAR(100)
    );
    -- Check that everything in the MOve Manifest Table is status: 'COMPLETED'!
    EXEC pct.ExportMoveManifestCheck;

    -- Insert results from sp_edit_find_ready_editsets into the temporary table
    INSERT INTO @EditSets (edit_set_id, edit_set_type, name)
    EXEC pct.FindReadyEditsets;

    DECLARE @t_iEditSetID INT;
	DECLARE @edit_set_type INT;
    DECLARE @name NVARCHAR(100);
	DECLARE @t_Date NVARCHAR(20);

	SET @t_Date = FORMAT(GETDATE(), 'dd-MM-yyyy-hh-mm-ss')
	

    -- Loop through each row in @EditSets

DECLARE cur CURSOR FOR
SELECT edit_set_id, edit_set_type, name
FROM @EditSets;

OPEN cur;

FETCH NEXT FROM cur INTO @t_iEditSetID, @edit_set_type, @name;

WHILE @@FETCH_STATUS = 0
BEGIN
    
    --MOVE EDIT SETS
    PRINT 'Find MOVE Edit sets '
    + CAST(@t_iEditSetID AS NVARCHAR(10)) 
        + ' type ' + CAST(@edit_set_type AS NVARCHAR(10));

    EXEC pct.ExportMoveEntries @t_iEditSetID = @t_iEditSetID;

    PRINT 'Release master: processing ' 
        + CAST(@t_iEditSetID AS NVARCHAR(10)) 
        + ' type ' + CAST(@edit_set_type AS NVARCHAR(10));
    
    
    IF @edit_set_type = 3
        EXEC pct.ExportCSVData @t_iEditSetID, 0, @t_Date;
    ELSE IF @edit_set_type IN (1,2)
        EXEC pct.ExportCSVData @t_iEditSetID, 1, @t_Date;
    ELSE
        EXEC pct.ExportCSVData @t_iEditSetID, 2, @t_Date;

    FETCH NEXT FROM cur INTO @t_iEditSetID, @edit_set_type, @name;
END



CLOSE cur;
DEALLOCATE cur;
END